# Hardhat network URL
REACT_APP_NETWORK_URL=http://localhost:8545

# Contract ABI
REACT_APP_CONTRACT_ABI=0x...Contract ABI...

# Contract address
REACT_APP_CONTRACT_ADDRESS=0x...Contract Address...

# Web3 provider
REACT_APP_WEB3_PROVIDER=http://localhost:8545

# Ethers.js provider
REACT_APP_ETHERS_PROVIDER=http://localhost:8545